<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CIS3041 Project</title>
  <link rel="stylesheet" href="landing-page.component.css">
</head>
<body>
  <div class="background"></div>
  <div class="container">
    <h1 class="title">CIS4301 Project</h1>
    <div class="button-container">
        <mat-card>
            <mat-card-header>
               <u> <b>Explore product data</b> </u>
            </mat-card-header>
            <mat-card-content>
                Click to see which products have been considered the most dangerous over the past 6 years.
            </mat-card-content>
            <mat-card-footer> 
                <a href="/explore" class="button">Explore</a> 
            </mat-card-footer>
        </mat-card>

        <mat-card>
            <mat-card-header>
                <u> <b>Test your knowledge!</b> </u>
            </mat-card-header>
            <mat-card-content>
                Find out how well-versed you are about dangerous products within the past 6 years.
            </mat-card-content>
            <mat-card-footer>
                <a href="/quiz" class="button">Take Quiz</a>
            </mat-card-footer>
        </mat-card>

        <mat-card>
            <mat-card-header>
                <u> <b>Search for unsafe products!</b> </u>
            </mat-card-header>
            <mat-card-content class="inputContent">
                Protect your family and search to see whether a product is unsafe.
            </mat-card-content>
            <mat-card-footer>
                <!-- <a href="/data" class="button">Search</a> -->
            <div class="search">
                <mat-form-field class="search-bar">
                    <input type="text" placeholder="Product" matInput 
                    [formControl]="search" [matAutocomplete]="autoLabel">
                    <mat-autocomplete #autoLabel="matAutocomplete">
                    <mat-option *ngFor="let label of filteredOptions | async" [value]="label">
                    {{label}}
                    </mat-option>
                </mat-autocomplete>
            
                <mat-error class="error" *ngFor="let validation of validation_msgs.search">
                    <div class="error" *ngIf="search.hasError(validation.type)">
                    {{validation.message}}
                    </div>
                </mat-error>
                </mat-form-field>
            </div>
                <button class="bottomButton" mat-raised-button color="primary" [disabled]="search.invalid" (click)="send()">Try it out</button>
            </mat-card-footer>
        </mat-card>
    </div>
  </div>
</body>
</html>
