<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CIS3041 Project</title>
  <link rel="stylesheet" href="landing-page.component.css">
</head>
<body>
  <div class="background"></div>
  <div class="container">
    <h1 class="title">CIS4301 Project</h1>
    <div class="button-container">
      <a href="/result" class="button">Result</a>
      <a href="/quiz" class="button">Quiz</a>
      <a href="/data" class="button">Data</a>
    </div>
  </div>
</body>
</html>
