body {
    background: linear-gradient(to bottom right, #1e1e1e, #4d4d4d);
}
mat-card {
    padding: 0.3%;
    border-color: gray;
    border-radius: 5px;
    border-width: 5px;
    margin-left: 0.8%;
    margin-bottom: 0.8%;
    margin-right: 0.8%;
}
mat-card-header {
    
    font-size: 2.5vh;
}
mat-card-content {
    font-size: 2vh;
    margin-left: 50vh;
}