<body>
    <div class="button-div">
        <a class="button" href="/quiz" mat-raised-button color="primary"> Take a Quiz! </a>
        <a class="button" href="#" mat-raised-button color="primary"> Return to Home </a>
        <a class="button" href="/data" mat-raised-button color="primary"> See some data... </a>
    </div>
<mat-card (click)="route(1)">
    
    <mat-card-header><u> <b>1. Product Related Injuries: Here, There, Everywhere</b> </u></mat-card-header>
    <mat-card-content>Discover how many product related injuries (PRI) occurred yearly between the years 2016 and 2021.</mat-card-content>

</mat-card>
<mat-card (click)="route(2)">
    
    <mat-card-header><u> <b>2. Countdown</b> </u></mat-card-header>
    <mat-card-content>Discover the yearly trends of the top 25 products that accounted for the most injuries to people between the years 2016 and 2021.</mat-card-content>

</mat-card>
<mat-card (click)="route(3)">
    
    <mat-card-header><u> <b>3. Danger Zone</b> </u></mat-card-header>
    <mat-card-content>Discover the monthly trends of the products that were in the top 5 most dangerous products 
                        (resulted in the most product related injuries) every month between January 2016 and December 2021.
    </mat-card-content>

</mat-card>
<mat-card (click)="route(4)">
    
    <mat-card-header><u> <b>4. Fatality</b> </u></mat-card-header>
    <mat-card-content>Discover the yearly percentage of hospitalizations/mortalities for fatal products products. 
                        *Fatal products are defined as products that had more than 10 cases and where 25% or 
                        more of all of their cases resulted in hospitalization/morality.
    </mat-card-content>

</mat-card>
<mat-card (click)="route(5)">
    
    <mat-card-header><u> <b>5. Summertime Sadness</b> </u></mat-card-header>
    <mat-card-content>Discover the yearly trends of products where 50% of their total cases occur in the Summer between 2016 and 2021; 
                        only the cases that occurred in the summer are displayed.
    </mat-card-content>

</mat-card>
<mat-card (click)="route(6)">
    
    <mat-card-header><u> <b>6. Seasonal&nbsp;<s>Holi</s>&nbsp;Hazards</b> </u></mat-card-header>
    <mat-card-content>Discover the seasonal trends of products where 50% of their total cases occur in one season between Winter 2016 and Winter 2021.</mat-card-content>

</mat-card>
<mat-card class="lastCard" (click)="route(7)">
    
    <mat-card-header><u> <b>7. No Place Like Home</b> </u></mat-card-header>
    <mat-card-content>Discover the monthly rate of growth of the home product(s) that result in the most 
                        hospitalizations/deaths between January 2016 and December 2021.
    </mat-card-content>

</mat-card>
</body>