.main {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
a {
    width: 13%;
    border-radius: 15px;
}
.dataButton{
    margin-top: 50px;
    text-align: center;
}
.dataBut {
    width: 225px;
    height: 100px;
}