<div class="main">
    <h1>Create a new user</h1>
    <a mat-raised-button color="primary" href="/login">Return to Login</a>

    <form [formGroup]="regGroup">

        <div class="name">
            <mat-form-field appearance="fill">
      
              <mat-label>First name</mat-label>
      
              <input id="firstname" matInput placeholder="First name" formControlName="firstName" required >
              <mat-error *ngIf="regGroup.get('firstName')?.hasError('required')">This field is required</mat-error>
            </mat-form-field>
      
            <mat-form-field appearance="fill">
                <mat-label>Username</mat-label>
                <input id="username" matInput placeholder="Username" formControlName="username" required>
                <mat-error *ngIf="regGroup.get('username')?.hasError('required')">This field is required</mat-error>
            </mat-form-field>
        </div>

            <br/>
      
        <div class="password">
            <mat-form-field appearance="fill">
              <mat-label>Enter your password</mat-label>
              <input id="password" matInput [type]="hide ? 'password' : 'text'" formControlName="password">
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
              <mat-error *ngIf="regGroup.get('password')?.hasError('required')">This field is required</mat-error>
              <mat-error *ngIf="regGroup.value.password">Password must be a combination of lower-case, upper-case, numbers and at least 6 characters long</mat-error>
            </mat-form-field>
      
            <mat-form-field appearance="fill">
              <mat-label>Confirm your password</mat-label>
              <input id="confirmPassword" matInput [type]="hide ? 'password' : 'text'" formControlName="confirmPassword" required pattern="{{regGroup.value.password}}">
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
              <mat-error *ngIf="regGroup.get('confirmPassword')?.hasError('required')">This field is required</mat-error>
              <mat-error *ngIf="regGroup.value.confirmPassword">Passwords do not match</mat-error>
            </mat-form-field>
        </div>

        <div>
            <button [disabled]="!regGroup.valid" mat-raised-button color="primary" (click)="submit()">Register</button>
        </div>
        <div class="reset">
            <a mat-raised-button color="primary" href="/register">Reset</a>
        </div>
        
    </form>
</div>