<link rel="stylesheet" href="./quiz.component.css">



<div class="quiz-container">

  <div class="button-div">
    <a class="button" href="#" mat-raised-button color="primary"> Return to Home </a>
  </div>

  <div class="quiz-question">
    <h2>Question {{ currentQuestionNumber + 1 }}</h2>
    <p>{{ getCurrentQuestion().question }}</p>
  </div>

  <div class="quiz-answers">
    <div *ngFor="let answer of getCurrentQuestion().answers; let i = index"
         [ngClass]="{'selected': selectedAnswerIndex === i, 'correct': selectedAnswerIndex === i && i === getCurrentQuestion().correctAnswerIndex, 'incorrect': selectedAnswerIndex === i && i !== getCurrentQuestion().correctAnswerIndex}"
         (click)="checkAnswer(i)" class="answer">
      {{ answer }}
    </div>
  </div>

  <div class="quiz-nav">
    <button (click)="goToPreviousQuestion()" [disabled]="currentQuestionNumber === 0">Previous</button>
    <button (click)="goToDataExplore()">Explore Data</button>
    <button (click)="goToNextQuestion()" [disabled]= "(currentQuestionNumber === questions.length - 1) || isNextButtonDisabled()">Next</button>
  </div>

</div>
