.body {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.homeButton {
    margin-top: 10px;
    margin-left: 40px;
}
.rightGrid {
    margin-left: -280px;
}
.text {
    font-size: 2.5vw;
}
.button {
    width: 200px;
    height: 50px;
    margin-top: 30px;
    font-size: large;
}
.grid-container-element {
    margin-top: 15px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 40px;
    /*height: 600px;*/
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-gap: 20px; 
    border-color: black;
    border-style: solid;
    border-width: medium;
    background-color: gray;
}
.input {
    border: 1px solid brown;
    text-align: left;
    margin-left: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 350px;
    height: 650px;
    overflow-y: auto;
    background-color: white;
    border-style: solid;
    border-width: medium;
    border-color: black;
}
.input-container {
    width: fit-content;
}
.output {
    border: 1px solid brown;
    text-align: center;
    width: auto;
    height: 650px;
    margin-right: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: white;
    border-color: black;
    border-style: solid;
    border-width: medium;
    margin-left: -480px;
}

mat-card {
    margin: 20px;
}
mat-card-title {
    margin: 10px;
    font-size: medium;
}
.search-section {
    margin-left: 20px;
    margin-right: 10px;
    width: 255px;
}
.slidercss {
    width: 255px;
    margin-left: 20px;
    margin-right: 10px;
}
.submitButton {
    margin-left: 60px;
    margin-top: -15px;
    margin-bottom: 20px;
    width: 305px;
}
.slide-section {
    margin-top: 20px;
}
.check-section {
    margin-top: -20px;
    margin-left: 5px;
}
.search-card {
    height: 160px;
}
.search-bar {
    margin-left: 15px;
    margin-right: 15px;
}
.error {
    margin-top: -19px;
}